// nextflow.config

params {
    run_id                = "IRT2_NM_030593_16_001"
    bowtie_index_dir      = "$baseDir/data/bowtie_index/hs"
    bowtie_index_prefix   = "hum_refseq_complete_record"
    target_gene           = "$baseDir/data/target_gene/NM_030593.fa"
    oligo_length          = 16
    offset_5_prime        = 0
    offset_3_prime        = 0
    min_gc                = 40.0
    max_gc                = 60.0
    forbidden_motifs      = "GGG"
    max_mismatch          = 3
    outdir                = "$baseDir/results"
}

process {
  cpus = 4
  memory = '4.GB'
}

docker {
  enabled = true
}



// --- EXECUTION REPORTS ---

// 1. HTML Execution Report
report {
    enabled = true
    file = "$baseDir/logs/${params.run_id}/execution_report.html"
}

// 2. HTML Timeline Report
timeline {
    enabled = true
    file = "$baseDir/logs/${params.run_id}/timeline.html"
}

// 3. Trace File for detailed resource usage
trace {
    enabled = true
    file = "$baseDir/logs/${params.run_id}/trace.txt"
    fields = 'task_id,name,status,exit,start,realtime,%cpu,peak_rss,peak_vmem,submit,container'
}