// nextflow.config

params {
    oligos        = "$baseDir/data/oligos/SIRT2_NM_030593.oligos.fa"
    bowtie_index_dir  = "$baseDir/data/bowtie_index/hs"
    bowtie_index_prefix  = "hum_refseq_complete_record"
    max_mismatch  = 3
    outdir        = "$baseDir/results"
}

process {
  cpus = 2
  memory = '4.GB'
}

docker {
  enabled = true
}
