// nextflow.config

params {

    // --- Unique ID for each run --- 
    run_id                = ""

    // --- Reference ---
    species = "human"
    bowtie_index_dir      = "$baseDir/data_2025/$params.species"
    bowtie_index_prefix   = "refseq"

    // --- Target gene ---
    target_gene           = ""

    // --- Files ---
    // --- Weight Matrix ---
    weight_matrix         = "$baseDir/data_2025/$params.species/weight_matrix_KATY.txt"
    // --- MicroRNA File---
    microrna_seeds        = "$baseDir/data_2025/$params.species/microRNAseed.txt"
    // --- Gene IDs and their Gene Accessions ---
    geneid_accession      = "$baseDir/data_2025/$params.species/geneid_acc.txt"
    // --- Gene accessions and their CDS regions ---
    cds_region            = "$baseDir/data_2025/$params.species/acc_cds_region.txt"

    // --- Requirments for sdRNAi design ---
    // --- Surrounding Region ---
    surrounding_region_length = 45
    // --- Oligo ---
    oligo_length              = 20
    offset_5_prime            = 16
    // --- Refseq Seed ---
    offset_refseq_seed        = 3
    refseq_seed_length        = 16
    // --- MicroRNA seed ---
    offset_microrna           = 3
    microrna_seed_length      = 7

    // --- Filtering Parameters ---
    min_gc                    = 40.0
    max_gc                    = 60.0
    microrna_hits_threshold = 1
    forbidden_motifs          = "GGG" // e.g. "GGG,AAA,CCCC"

    // --- Bowtie alignment ---
    max_mismatch          = 3

    // --- Synthesis Order ---
    sense_length          = 14
    antisense_length      = 19

    // --- RNAplfold parameters ---
    plfold_winsize        = 70
    plfold_span           = 45
    plfold_ulength        = 20

    // --- Output directory ---
    outdir                = "/home/ec2-user/Oligonucleotide_Sequence_Gen/Webserver_Documents/results"
}

process {
    cpus = 4
    memory = '12.GB'
    shell = ['/bin/bash', '-euo', 'pipefail']   // avoid /usr/bin/env and ensure strict mode
    container = 'oligo-finder-env:latest'
}

// --- Execution Profiles ---
profiles {
    standard {
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

// --- EXECUTION REPORTS ---

// Trace File for detailed resource usage
trace {
    enabled = true
    file = "${params.outdir}/${params.run_id}/trace.txt"
    fields = 'task_id,name,status,exit,start,realtime,%cpu,peak_rss,peak_vmem,submit,container'
}